body {
    background-color: var(--bg-200);
    font-size: 1.2rem;
    display: flex;
    font-family: "Lato";
}

.root {
    display: flex;
}

h2 {
    font-size: 2rem;
    color: var(--txt-200);
}

h3 {
    width: fit-content;
    border-bottom: 2px solid;
}

main {
    padding: 4rem;
}