button {
    cursor: pointer;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: .375rem;
    font-weight: 600;
    &:hover {
        scale: 1.05;
        transition: all 0.3s ease-in-out;
    }
}

.main__button--add-task {
    background-color: var(--accent-100);
}

.main__button--view-backlog {
    background-color: var(--accent-200);
    color: var(--bg-200);
}