.main__project-options {
    min-width: 58rem;
    max-width: 80rem;
    background-color: var(--bg-100);
    border-radius: .5rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    div {
        display: flex;
        gap: 1rem;
    }
}

.main__active-project {
    align-self: center;
}