@import "https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css";

.backlog {
    width: fit-content;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    h2 {
        font-size: 2rem;
        font-weight: 600;
    }
}

.pagination {
    display: flex;
}